<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Interview invite #<%= @interview_invite.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/interview_invites" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link interview_invite start -->
      <div class="col">
        <a href="/interview_invites/<%= @interview_invite.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit interview invite
        </a>
      </div>
      <!-- Edit link interview_invite end -->

      <!-- Delete link interview_invite start -->
      <div class="col">
        <a href="/delete_interview_invite/<%= @interview_invite.id %>" class="btn btn-block btn-outline-secondary">
          Delete interview invite
        </a>
      </div>
      <!-- Delete link interview_invite end -->
    </div>

    <dl>
      <dt>
        Residency program
      </dt>
      <!-- Display residency_program_id start -->
      <dd>
        <%= @interview_invite.residency_program_id %>
      </dd>
      <!-- Display residency_program_id end -->

      <dt>
        Invite received date
      </dt>
      <!-- Display invite_received_date start -->
      <dd>
        <%= @interview_invite.invite_received_date %>
      </dd>
      <!-- Display invite_received_date end -->

      <dt>
        Invitee
      </dt>
      <!-- Display invitee_id start -->
      <dd>
        <%= @interview_invite.invitee_id %>
      </dd>
      <!-- Display invitee_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@interview_invite.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@interview_invite.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
