<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Interview invite #<%= @interview_invite.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/interview_invites" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/interview_invites/<%= @interview_invite.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit interview invite
        </a>
      </div>

      <div class="col">
        <a href="/delete_interview_invite/<%= @interview_invite.id %>" class="btn btn-block btn-outline-secondary">
          Delete interview invite
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Residency program
      </dt>
      <dd>
        <% if @interview_invite.residency_program.present? %>
          <a href="/residency_programs/<%= @interview_invite.residency_program_id %>">
            <%= @interview_invite.residency_program.state %>
          </a>
        <% end %>
      </dd>

      <dt>
        Invite received date
      </dt>
      <dd>
        <%= @interview_invite.invite_received_date %>
      </dd>

      <dt>
        Invitee
      </dt>
      <dd>
        <% if @interview_invite.author.present? %>
          <a href="/users/<%= @interview_invite.invitee_id %>">
            <%= @interview_invite.author.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@interview_invite.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@interview_invite.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

