<%= search_form_for @q, :class => collapse_search_form, :id => "interviews_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :interview_date, "Interview date" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='interview_dategteqPicker' data-target-input="nearest">
          <%= f.text_field :interview_date_gteq, :class => "form-control datetimepicker-input", :placeholder => "Interview date greater than or equal to", :data => {:target => '#interview_dategteqPicker'} %>
          <div class="input-group-append" data-target='#interview_dategteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='interview_datelteqPicker' data-target-input="nearest">
          <%= f.text_field :interview_date_lteq, :class => "form-control datetimepicker-input", :placeholder => "Interview date less than or equal to", :data => {:target => '#interview_datelteqPicker'} %>
          <div class="input-group-append" data-target='#interview_datelteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#interview_dategteqPicker').datetimepicker({
              format: 'MM/DD/YYYY'
          });
          $('#interview_datelteqPicker').datetimepicker({
              useCurrent: false,
              format: 'MM/DD/YYYY'
          });
          $('#interview_dategteqPicker').on("dp.change", function (e) {
              $('#interview_datelteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#interview_datelteqPicker').on("dp.change", function (e) {
              $('#interview_dategteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :interviewee_email_cont, "User email contains" %>
    <%= f.text_field :interviewee_email_cont, :class => "form-control", :placeholder => "User email contains" %>
  </div>

  <div class="form-group">
    <%= f.label :residency_program_state_cont, "ResidencyProgram state contains" %>
    <%= f.text_field :residency_program_state_cont, :class => "form-control", :placeholder => "ResidencyProgram state contains" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/interviews" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#interviews_filters">
  Show filters
</a>
