<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All interviews
    </h1>

    <a href="/interviews/new" class="btn btn-block btn-outline-secondary">
      Add a new interview
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Residency program
        </th>

        <th>
          Interviewee
        </th>

        <th>
          Interview date
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @interviews.each do |interview| %>
      <tr>
        <!-- Display interview.id start -->
        <td>
          <%= interview.id %>
        </td>
        <!-- Display interview.id end -->

        <!-- Display interview.residency_program_id start -->
        <td>
          <%= interview.residency_program.state %>
        </td>
        <!-- Display interview.residency_program_id end -->

        <!-- Display interview.interviewee_id start -->
        <td>
          <%= interview.interviewee.email %>
        </td>
        <!-- Display interview.interviewee_id end -->

        <!-- Display interview.interview_date start -->
        <td>
          <%= interview.interview_date %>
        </td>
        <!-- Display interview.interview_date end -->

        <!-- Display interview.created_at start -->
        <td>
          <%= time_ago_in_words(interview.created_at) %> ago
        </td>
        <!-- Display interview.created_at end -->

        <!-- Display interview.updated_at start -->
        <td>
          <%= time_ago_in_words(interview.updated_at) %> ago
        </td>
        <!-- Display interview.updated_at end -->

        <td>
          <a href="/interviews/<%= interview.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @interviews, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
