<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All interviews
    </h1>

    <a href="/interviews/new" class="btn btn-block btn-outline-secondary">
      Add a new interview
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "interview_templates/interviews_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Residency program
        </th>

        <th>
          Interviewee
        </th>

        <th>
          Interview date
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @interviews.each do |interview| %>
      <tr>
        <td>
          <%= interview.id %>
        </td>

        <td>
          <% if interview.residency_program.present? %>
            <a href="/residency_programs/<%= interview.residency_program.id %>">
              <%= interview.residency_program.state %>
            </a>
          <% end %>
        </td>

        <td>
          <% if interview.interviewee.present? %>
            <a href="/users/<%= interview.interviewee.id %>">
              <%= interview.interviewee.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= interview.interview_date %>
        </td>

        <td>
          <%= time_ago_in_words(interview.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(interview.updated_at) %> ago
        </td>

        <td>
          <a href="/interviews/<%= interview.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @interviews, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
