<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Interview #<%= @interview.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/interviews" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @interview.interviewee %>
          <a href="/interviews/<%= @interview.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit interview
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @interview.interviewee %>
          <a href="/delete_interview/<%= @interview.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete interview
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Residency program
      </dt>
      <dd>
        <% if @interview.residency_program.present? %>
          <a href="/residency_programs/<%= @interview.residency_program_id %>">
            <%= @interview.residency_program.state %>
          </a>
        <% end %>
      </dd>

      <dt>
        Interviewee
      </dt>
      <dd>
        <% if @interview.interviewee.present? %>
          <a href="/users/<%= @interview.interviewee_id %>">
            <%= @interview.interviewee.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Interview date
      </dt>
      <dd>
        <%= @interview.interview_date %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@interview.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@interview.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

